body {
  background-image: url("../assets/turq.jpeg");
  background-size: cover;  
  background-position: center; 
  background-attachment: fixed; 
  background-repeat: no-repeat; 
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px; 
  padding: 0 30px;
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(1, 96, 82, 0.9); 
  z-index: 1000;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.navbar {
  display: flex;
}

.navbar-list {
  display: flex;
  gap: 20px; 
  list-style: none;
  margin: 20;
  padding: 30;
}

.navbar-item {
  margin: 0;
}

.navbar-link {
  text-decoration: none;
  color: rgb(255, 255, 255); 
  font-size: 18px;
  font-weight: bold;
  padding: 10px 15px;
  transition: 0.3s;
}

.navbar-link:hover {
  color: #40E0D0; 
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.hero-container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
  text-align: left;
  height: 100vh; 
  width: 100vw; 
  background: linear-gradient(to right, #40E0D0, #40E0D0); 
  color: white;
}

.hero-text {
  max-width: 450px;
  font-family: 'Arial', sans-serif;
}

.hero-title {
  font-size: 3rem;
  color: black;
  margin-bottom: 30px;
}

.highlighted-name {
  color: #fefefe;
}

.hero-illustration {
  max-width: 650px; 
  width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  align-items: center;
  margin-top: 20px;
}

.illustration-image {
  width: 100%;
  max-width: 350px;  
  height: auto; 
  border-radius: 50%;
  object-fit: cover;
  border: 6px solid #40E0D0;
  box-shadow: 9px 15px 25px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}

.illustration-image:hover {
  transform: scale(1.1);
}

.typing {
  font-size: 2.5rem; 
  font-weight: bold;
  color: white; 
}